%h1 Add new document
%p
  for project:
  %strong= @project.name

= simple_form_for([@project, @document]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :comment
    = f.input :lang
    = f.input :parent_id, as: :hidden, value: @parent_id

  .form-actions
    = f.button :submit
