= simple_form_for(@project) do |f|
  = f.error_notification 

  .form-inputs
    = f.input :name 
    = f.input :description 
    = f.input :lang 
    = f.input :text, as: :text

  .form-actions
    = f.button :submit 
