<h1>Your projects</h1>

<% @projects.each do |project| %>
  <header>
    <hgroup>
      <h2><%= project.name %></h2>
      <section>
        <p>Description: <%= project.description %></p>
        <p>Base language: <%= project.lang %></p>
      </section>
      <section>
        <%= link_to 'Open', project , :class => "button" %>
        <%= link_to 'Edit', edit_project_path(project), :class => "button" %>
        <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button alert" %>
      </section>
    </hgroup>
  </header>
  <div style="clear: both;"></div>
<% end %>
<br>

<%= link_to 'New Project', new_project_path, :class => "button" %>
