.contain-to-grid.sticky
  %nav.top-bar
    %ul.title-area
      %li.name
        %h1
          %a{href: "/"} Scriba.md
    %section.top-bar-section
      %ul.right
        %li.divider
        %li= link_to "Projects", projects_path
        %li.divider
        %li= link_to "Docs", "#"
        %li.divider
        - if user_signed_in?
          %li.has-dropdown.not-click
            %a{href: "#"}
              Logged in as #{current_user.email}
            %ul.dropdown
              %li= link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          %li.not-click.has-form
            = link_to "Try out", '/tryout', :class => "button"
          %li
          %li.has-dropdown
            = link_to "Sign in", new_user_session_path
            %ul.dropdown
              %li= link_to "Sign up", new_user_registration_path